* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: 100vh;
}
